<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Seus Cartões">
      <mat-form-field class="example-full-width"  >      
        <mat-label>Nome do cartão</mat-label>       
        <input matInput type="text" name="nome" id="nome">   
      </mat-form-field>    
      <mat-form-field class="example-full-width"  >      
        <mat-label>Numero do cartão</mat-label>       
        <input matInput type="text" name="numero" id="numero">   
      </mat-form-field>
      <mat-form-field class="example-full-width"  >      
        <mat-label>CVV</mat-label>       
        <input matInput type="text" name="cvv" id="cvv">   
      </mat-form-field>
      <br>
      <mat-form-field class="mes">      
        <mat-label>Mes</mat-label>       
        <input matInput type="text" name="mes" id="mes">
    </mat-form-field>
    <mat-form-field class="ano"  >
        <mat-label>Ano</mat-label>       
        <input matInput type="text" name="ano" id="mes">   
    </mat-form-field>
   <button mat-raised-button class="bexcluir">Excluir</button>
    </mat-tab>

    <mat-tab label="Cadastrar Cartão"> 

        <mat-form-field class="example-full-width"  >      
            <mat-label>Nome do cartão</mat-label>       
            <input matInput type="text" name="nome" id="nome">   
          </mat-form-field>    
          <mat-form-field class="example-full-width"  >      
            <mat-label>Numero do cartão</mat-label>       
            <input matInput type="text" name="numero" id="numero">   
          </mat-form-field>
          <mat-form-field class="example-full-width"  >      
            <mat-label>CVV</mat-label>       
            <input matInput type="text" name="cvv" id="cvv">   
          </mat-form-field>
          <br>
          <mat-form-field class="mes">      
            <mat-label>Mes</mat-label>       
            <input matInput type="text" name="mes" id="mes">
        </mat-form-field>
        <mat-form-field class="ano"  >
            <mat-label>Ano</mat-label>       
            <input matInput type="text" name="ano" id="mes">   
        </mat-form-field>
        <br>
        <button mat-raised-button class="bcad" >Cadastrar</button>
    
    </mat-tab>
    
  </mat-tab-group>