example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 49.5%;
  }
  mat-form-field{
      font-size: 30px;
      padding-left: 10px;
  }
  input{
    padding-left: 10px;
  }
  mat-label{
    padding-left: 10px;
  }
  .bcad{
      width: 300px;
      height: 80px;
      font-size: 20px;
      background-color: khaki;
  }
  .bexcluir{
    width: 300px;
    height: 60px;
    font-size: 20px;
    background-color: khaki;
    left: 20px;
   
  }