<div class="wrapper">
  <mat-form-field class="example-full-width"  >      
    <mat-label>Nome Completo</mat-label>       
    <input matInput type="text" name="nome" id="nome">   
  </mat-form-field>

  <mat-form-field class="example-full-width" >        
    <mat-label >Endereço</mat-label>       
    <input matInput type="text" name="endereco" id="endereco">   
  </mat-form-field>

  <mat-form-field class="example-full-width">         
    <mat-label>CPF</mat-label>       
    <input matInput type="text" name="cpf" id="cpf" >   
  </mat-form-field>

  <mat-form-field class="example-full-width">       
    <mat-label>E-mail</mat-label>       
    <input matInput type="text" name="email" id="email" >   
  </mat-form-field>
<br>
  <button mat-raised-button >Cadastrar</button>
</div>