<div>
<mat-form-field class="example-full-width"  >      
    <mat-label>Nome Completo</mat-label>       
    <input matInput type="text" name="endereco" id="nome">   
  </mat-form-field>

  <mat-form-field class="example-full-width" >        
    <mat-label >Endereço</mat-label>       
    <input matInput type="text" name="endereco" id="endereco">   
  </mat-form-field>

  <mat-form-field class="example-full-width">         
    <mat-label>CPF</mat-label>       
    <input matInput type="text" name="endereco" id="cpf" >   
  </mat-form-field>
</div>